/* Write your CSS code here */

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.header-details-container {
  display: flex;
  flex-direction: row;
}

.header-text {
  font-family: Roboto;
  font-size: 22px;
  margin: 25px;
}
